{% load static %}
<section id="about" class="about-section py-3">
    <div class="container">
        <div class="row align-items-center">
            <!-- About Me Photo -->
            <div class="col-md-6">
                <img src="{% static 'images/aynal.jpg' %}" alt="Aynal" class="img-fluid rounded-circle"style="max-width: 350px;" >
            </div>

            <!-- About Me Description -->
            <div class="col-md-6">
                
                <p><b><i>
                    Hi, I am Aynal Haque, a passionate Python and Web developer with a focus on creating efficient and scalable web applications.
                    I specialize in using frameworks like Django ,Node js,Kivy,RestApi  for the backend and React.js,Next.js ,Bootstrap for building modern front-end interfaces. 
                    I believe in continuous learning and always strive to stay updated with the latest trends and technologies in the development world.
                </i> </b></p>
                <p>
                    <strong><i>With a strong foundation in programming, I’ve worked on a variety of projects, from developing complex systems to simple web apps, 
                    and I’m always eager to take on new challenges. In my free time, I enjoy exploring new programming languages, contributing to open-source, 
                    and solving real-world problems with code.</i></strong>
                </p>
                
            </div>
        </div>
    </div>
    <div style="font-style: italic;"><a href="#">Contact With Aynal Haque</a></div>
</section>